# ===== IntelliJ IDEA =====
.idea/
*.iml

# ===== Java / Maven =====
target/
*.log

# ===== Node / Frontend =====
node_modules/
dist/
.vite/
.vite-temp/

# ===== OS =====
.DS_Store
Thumbs.db

.mvn-local/
